%h4
  %b
    - if @comments.present?
      = @comments.count
      COMMENTS
.commnets-area.text-left
  - @comments.includes(:user).each do |comment|
    .comment
      .post-info
        .left-area
          %a.avatar{:href => "#"}
            = image_tag(comment.user.image_url.to_s)
        .middle-area
          %b
            = comment.user.user_name
          %h6.date
            on
            = comment.created_at.strftime('%b %d, %Y at %I:%M %p')
        .right-area
          %h5.reply-btn
            %a{:href => "#"}
              %b
                REPLY
      %p
        = comment.description
%a.more-comment-btn{:href => "#"}
  %b
    VIEW MORE COMMENTS
