.row
  .col-md-10
    = simple_form_for @article do |f|
      = f.error_notification
      = f.input :title, required: true
      = f.collection_select :category_id, Category.all, :id, :name, {class: 'connect_user_select'}
      = f.input :content, required: true
      - if params[:action] == 'edit'
        = f.fields_for :links, @article.links.build do |link_form|
          = link_form.hidden_field :id
          = link_form.input :description
          = link_form.input :address, required: true
      = f.button :submit