.row
  .col-md-10
    = simple_form_for @article do |f|
      = f.error_notification
      = f.input :title, required: true
      = f.collection_select :category_id, Category.all, :id, :name, {class: 'connect_user_select'}
      = f.input :content, required: true
      = f.file_field :image
      = f.button :submit