.row
  .col-md-10
    = simple_form_for @article do |f|
      = f.input :title
      = f.collection_select :category_id, Category.all, :id, :name, {prompt: 'Select Category'}
      = f.input :content
      = f.button :submit