.row
  .col-md-10
    .panel.panel-success
      .panel-heading
        %h4
          = link_to "#{@article.title}", article_path(@article)
      .panel-body
        = @article.content
    - if @links.present?
      .panel.panel-info
        .panel-heading
          %h4
            Citations
        .panel-body
          - @links.each do |link|
            = link.description
            = link.address
            %br
    = render 'links'