.row
  .col-md-10
    .panel.panel-success
      .panel-heading
        %h4
          = link_to "#{@article.title}", article_path(@article)
      .panel-body
        = @article.content
    #div_comment_show
      = render 'comments/show'
    #div_comment_form
      = simple_form_for [@article, @comment], remote: :true do |f|
        = f.label 'Comment'
        = f.text_field :description, class: 'form-control'
        %br
          = f.submit 'submit comment', class: 'btn btn-success'
    #div_link_show
      - if @links.present?
        .panel.panel-info
          .panel-heading
            %h4
              Citations
          .panel-body
            - @links.each do |link|
              = link.description
              = link.address
              %br
.row
  .col-md-10
    = render 'links'