!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wiki
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid
      .row
        .col-md-12
          = render 'shared/navbar'
    .container
      .row
        .col-md-10
          - flash.each do |type, message|
            = js add_gritter(message, title: "#{type.capitalize}!", sticky: false, time: 3000, class_name: gritter_class_for(type))
          = yield
        .col-md-2
          %h3 Categories
          %ul
            -Category.all.each do |category|
              %li
                = link_to "#{category.name}", articles_path(category: category.name)
